.eachphone {
    display: flex;
    width: 500px; 
    border: 20px;
    align-items: center;
    height:500;   
    margin-bottom: 30px;
    
}

.product_area {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.eachphone img{
    width: 150px;
    height: 150px;
    
}

.wording_parts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-around;
    margin-left: 50px;
    margin-right: 50px;
    
}

h6 {
    text-align: left;
}

div.image {
    width: 150px;
    height:150px;
    display: flex;
    justify-content: center;

}

.wording_parts h4 {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: left; 
}

.wording_parts h5 {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: left;
}

.product_area {
    display: flex;
    justify-content: center;
}