div.user_area {
    display: grid;
    grid-template-columns: repeat(auto-fit, 500px);
    grid-gap: 20px;
    justify-content: center;
}

div.each_user {
    display: grid;
    grid-template-rows: 20px 20px 20px;
    border-style: solid;
    border-width: 2px; 
}

.each_user h5 {
    margin:10px; 
    /* border-bottom: solid;
    border-width: 1px; */
}